---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Masthead from '../components/Masthead.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <Content>
        <section>
          <p class="mb-8 indent-4">
            Hi, I am a college student from Taiwan, and I am interested in programming and web development.
            I never thought that i would be able to create a website like this, but here i am.
            During my high school years, I was entirely focused on hardware and had never considered moving toward software before going to college.
          </p>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
